
<!doctype html>
<html >ng-app="scotchTodo"
<head>
    <title>Node Authentication</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">



    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="../public/core/main.js"></script>
    <style>
        body {
            padding-top:80px;
            word-wrap: break-word;
        }
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>
</head>
<body> ng-controller="mainController"

<!--<div class="container">-->
<!--<div class="page-header text-center">-->
<!--<h1><span class="fa fa-anchor"></span>Profile Page</h1>-->
<!--<a href="/logout" class="btn btn-default btn-sm">Logout</a>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<div class="well">-->
<!--<h3><span class="fa fa-user"></span>Local</h3>-->
<!--<p>-->
<!--<strong>id</strong>: <%= todos.size%> <br>-->
<!--<strong>email</strong>: <%= todos.size%> <br>-->
<!--<strong>password</strong>: <%= todos.size%>-->

<!--</p>-->
<!--</div>-->
<!--</div>-->
<!---->
<!--</div>-->


<!--</div>-->





<!--<div id="todo-list" class="row">-->
    <!--<div class="col-sm-4 col-sm-offset-4">-->

        <!--&lt;!&ndash; LOOP OVER THE TODOS IN $scope.todos &ndash;&gt;-->
        <!--<div class="checkbox" ng-repeat="todo in todos">-->
            <!--<table class="table table-stripped">-->
                <!--<tr>-->
                    <!--<td>Date</td>-->
                    <!--<td>Time</td>-->
                    <!--<td>Size</td>-->
                    <!--<td>Phone number</td>-->
                    <!--<td>Contact Name</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td contenteditable="true" ng-model="todo.date">{{ todo.date }}</td>-->
                    <!--<td contenteditable="true" ng-model="todo.time">{{ todo.time }}</td>-->
                    <!--<td contenteditable="true" ng-model="todo.size">{{ todo.size }}</td>-->
                    <!--<td contenteditable="true" ng-model="todo.phone">{{ todo.phone }}</td>-->
                    <!--<td contenteditable="true" ng-model="todo.name">{{ todo.name }}</td>-->

                    <!--<td><button class="btn btn-primary" value="edit"  ng-click="updateTodo(todo._id)">update</button></td>-->
                    <!--<td><button class="btn btn-danger" value="delete" ng-click="deleteTodo(todo._id)">Delete</button></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->








</body>


</html>































